# ==========================
fastapi
# ==========================
sqlalchemy
# ==========================
python-dotenv
# ==========================
uvicorn
# ==========================
psycopg2-binary
# ==========================
nodejs
# ==========================
npm
# ==========================
tailwindcss
# ==========================
axios
# ==========================
pytest
# ==========================
